table {
    width: 100%;
    border-collapse: collapse;
}
th {
    background-color: #4a90e2;
    color: white;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

.add-record-btn {
    margin-bottom: 15px;
    padding: 10px 20px;
    background-color:#2ecc71;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}
.add-record-btn:hover {
    background-color: #14213D;
}
/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
}
.close-btn {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close-btn:hover,
.close-btn:focus {
    color: darkred;
    text-decoration: none;
    cursor: pointer;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.submit-btn {
    background-color: #3FA7D6;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
#searchInput {
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

#searchButton {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s ease;
}

#searchButton:hover {
    background-color: #0056b3;
}